/* Style all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

/* Style all sections */
section {
  height: 100vh;              /* setting height of sections to fill viewport */
  display: flex;              /* assign section display to use Flexbox */
  justify-content: center;    /* centers content along main (x) axis */
  align-items: center;        /* centers content along cross (y) axis */
  color: white;            /* sets text colour to white */
  scroll-snap-align: start;   /* snap the section to the top of viewport */
}

.home {
  background-image: url("Images/Wow_Blank_Background.jpg"); /* Sets the background image of the homepage */
  background-repeat: no-repeat;                             /* do no repeat the image to cover the screen */
  background-size: cover;                                   /* change size of image to cover the screen */
  background-position: center center;                       /* Keeps the background image centred */
  background-attachment: fixed;
}

.red_btn {
  transform: translateY(-150%);                 /* move button upwards */
  background: #f00;                           /* set backgournd colour or button to red */
  color: #fff;                                /* set text colour to white */
  display: inline-block;                        /* allows button height & width to be set */
  padding: 10px;                                /* add 10 pixels of padding to button */
  text-align: center;                           /* centers the text of the button */
  text-decoration: none;                        /* removes the underline of the button */
  width: 200px;                                 /* sets width of button */
  font-family: bebas-neue-pro,sans-serif;       /* sets font of button text */      
  font-weight: 700;                             /* sets how bold the text is*/
  text-transform: uppercase;                    /* makes the text all capital letters */
  font-size: 100%;                              /* font size */  
    
}

.red_btn:hover {                                /* change to button on hover*/
  background-color: yellow;                   /* change the color to yellow */
  color: #f00;                                /* change the text to red */      
  transition: 0.5s;                             /* make the transition take 0.5 seconds */
}

/* Page 2 - Menu Styling */

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.menu {
    background: rgb(36, 164, 138);
}

.order {
    background: rgb(211, 79, 79);
    display: flex;              /* assign section display to use Flexbox */
    justify-content: center;    /* centers content along main (x) axis */
    align-items: center;        /* centers content along cross (y) axis */
    color: white;             /* sets text colour to white */
}

#burger1:hover {
  border: 10px solid #00000000;
  transition: 0.5s;
}
#burger2:hover {
  border: 10px solid rgb(36, 164, 138);
  transition: 0.5s;
}
#burger3:hover {
  border: 10px solid #00000000;
  transition: 0.5s;
}






